<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/signup.png" width="100" height="100"/>
                </div>

                <h1 class="text-center">Sign Up!</h1>

                <form action="">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter your username">
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter your password">
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter your name">
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter your last name">
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input type="email" matInput placeholder="Enter your e-mail">
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Cell Phone</mat-label>
                        <input matInput placeholder="Enter your cell phone number">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="button" class="btn btn-outline-success">OK</button>
                        <button type="button" class="ml-4 btn btn-outline-info">Clean</button>
                    </div>
                </form>

                <br><br><br>
            </div>
        </div>
    </div>
</div>